<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='img/suisei_icon.jpg')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/suisei.js') }}"></script>
    <title>Suisei</title>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</head>

<body onload=initPlay()>
<nav class="navbar navbar-expand-md bg-primary navbar-dark">

    <a class="navbar-brand" href="/">
        <img class="logo" src="{{ url_for('static', filename='img/suisei_icon.jpg')}}" alt="Logo">
    </a>
    <a class="navbar-brand" href="/">Suisei</a>

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#" onclick="getAlbums()">專輯</a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#" onclick="refresh()">重新整理音檔</a>
        </li>
    </ul>

</nav>
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/playList.js') }}"></script>
<script src="{{ url_for('static', filename='js/player.js') }}"></script>
<script src="{{ url_for('static', filename='js/a-chan.js') }}"></script>
<div class="custom-left-container full-width">
    <div class="item-8-left border-end border-5 border-info full-width scroll-class" id="leftView">
    </div>
    <div class="item-2-right full-width scroll-class">
        <div class="border-bottom border-3 border-dark">
            <p><font size="6">播放清單</font>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-outline-secondary" onclick="deleteAllPlayList()"
                        style="height: 2rem;">clear all
                </button>
            </p>
        </div>
        <div id="playList"></div>
    </div>
</div>
</div>
<div class="border-top border-5 border-info player-view player">
    <div id="player-view">
        <div class=" player_cover" id="playerCover">
            <img style="width: 4rem; height: 4rem;" src="{{ url_for('static', filename='img/default_cover.jpg') }}">
        </div>
        <div class=" player_stop" id="playerStop">
            <img style="width: 2rem; height: 2rem;"
                 src="{{ url_for('static', filename='img/stop-player-button.png') }}" onclick="callStop()">
        </div>
        <div class=" player_play" id="playerPlay">
            <img style="width: 2rem; height: 2rem;" src="{{ url_for('static', filename='img/play.png') }}">
        </div>
        <div class=" player_next" id="playerNext">
            <img style="width: 2rem; height: 2rem;" src="{{ url_for('static', filename='img/next.png') }}" onclick="callNext()">
        </div>
        <div class=" player_info" id="playerInfo">
            <div class="row">
                <div id="songName">song name</div>
            </div>
            <div class="row">
                <input type="range" min="0" max="100" value="0" class="slider" id="playerTimeSlider" onchange="changeTimePos()">
            </div>
        </div>
        <div class=" player_volume " id="playerVolume">
                Volume
            <input type="range" min="0" max="100" value="50" step="1" class="slider" id="playerVolumeSlider" onchange="changeVolume()">
        </div>
    </dive>
</div>
<script type="text/javascript">
         window.onload = init()
</script>
</body>

</html>