html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.logo {
  width: 30px
}

.custom-left-container {
  display: flex;
  height: calc(100vh - 9rem); 
}

.navbar {
  height: 4rem
}

.player-view {
  display: flex;
  height: 5rem;
}

.item-2-right {
  flex: 2;
}

.item-8-left {
  flex: 8;
}

.grid-contain {
  width: 300px;
  height: 300px;
}

.row-cols-card-deck col {
  display: flex;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #555;
}

.songContent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.scroll-class {
  overflow-y: scroll;
}

.inherit-height {
  height: inherit;
}

.inherit-width {
  width: inherit;
}

.col {
  margin: 10px 10px 10px 10px;
}

.player_cover {
    display: inline-block;
    margin: 0px 20px 0px 50px;
    width: 5rem;
    height: 4rem;
}

.player_stop {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    width: 5rem;
    height: 4rem;
}

.player_play {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    width: 5rem;
    height: 4rem;
}

.player_next {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    width: 5rem;
    height: 4rem;
}

.player_next {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    width: 5rem;
    height: 4rem;
}

.player_info {
    display: inline-block;
    margin: 0px 10px 0px 10px;
    width: calc(100vw - 40rem);
}

.player_volume {
    display: inline-block;;
    margin: 0px 10px 0px 10px;
    width: 10rem;
}